/* Global Rules */
:root{
    --primary-color: rgb(84, 138, 255);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
}
.text{
    display: flex;
    max-width: 90vw;
    flex-wrap: wrap;
}

.text span{
    font-size: 3rem;
    min-width: 15px;
    transition: .2s;
}
.text span::selection{
    background:none;
}
.correct{
    background-color: rgba(0, 255, 0, 0.336);
    border-bottom: solid 5px rgb(0, 182, 0);
}
.false{
    background-color: rgba(255, 0, 0, 0.363);
    border-bottom: solid 5px darkred;
}
.input{
    border-bottom: solid 5px  var(--primary-color)!important;
}

/* Keyboard preview */

.keyboard{
    max-width: 80vw;
    background-color: silver;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px rgb(102, 102, 102);
    display: flex;
    gap: 10px;
    position: relative;
    flex-direction: column;
}
.keyboard div{
    display: flex;
    gap: 10px;
}
.keyboard span{
    background-color: white;
    padding: 10px;
    display:inline-block;
    border-radius: 10px;
    flex: 1;
    font-size: 1.5rem;
}
.keyboard span[data-key="ShiftRight"] ,.keyboard span[data-key="Space"] {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard .topRow , .keyboard .homeRow{
    margin-right: 80px;
}
.keyboard span[data-key="Enter"]{
    box-sizing: content-box;
    position: absolute;
    width:50px;
    height: 80px;
    top:3.5em;
    right:20px;
}
.keyboard span[data-key="CapsLock"]{
    font-size: .8rem;
}
.active{
    background-color: var(--primary-color)!important;
    color: white;
}